= link_to "Add User", new_user_path, :class => "btn primary float-right"
%br/
= link_to "Add Holiday",new_holiday_path, :class =>"btn primary float-right"
%h1 My Dashboard
%p We will show some graphs here...  TBD
