= link_to "Add User", new_user_path, :class => "btn btn-primary btn-sub "
= link_to "Add Holiday",new_holiday_path, :class =>"btn btn-primary btn-sub navigate_btn"
%h1 My Dashboard
%p We will show some graphs here...  TBD
%p
%br

/ - @invoices.each do |invoice|
/   - if invoice.any?
/     - invoice.each do |inv|
/       %tr
/         %th Invoice id
/         %th Status
/         %th Total Amount
/         %br
/         %td= inv.id
/         %td= inv.statuses
/         %td= inv.total_amount
/         %br
			
