%h
  Hello #{@user.display_name} welcome to BillerBot!
%p
  =====================================================
%p 
  accept Terms and conditions here!!!!!!!!!!!!
%br

%p
  ====================================================