%h1 Welcome to BillBot
%script{:src => "js/jquery/jquery.tablesorter.min.js"}
:javascript
  //$(function() {
    ///$("table#sortTableExample").tablesorter({ sortList: [[1,0]] });
 // });
#main_container
