%tr
  %td= link_to account.display_name, account_path(account)
  %td= link_to account.email, account_path(account)
  %td= link_to account.phone, account_path(account)
  %td= link_to "create Invoices",new_invoice_path
